
.list {
  margin: 0;
  padding: 0 20px 0 20px;
}

.item {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: yellowgreen;
}

.item + .item {
  margin-top: 10px;
}

.itemText {
  margin: 0;
}

.itemButton {
  padding: 7px 10px;
  border: none;
  border-radius: 4px;
  background-color: rgb(242, 205, 205);
  cursor: pointer;
}