.searchForm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.imageWrapper {
  margin-top: 50px;
  width: fit-content;
}

.dogImage {
  display: block;
  width: 300px;
  border-radius: 15px;
}