.searchContainer {
  background-color: rgb(255, 246, 147);
  padding: 50px;
}

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleryBox {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.select {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  appearance: none;
  width: 200px;
}

.select:focus {
  outline: none;
  border-color: #888;
}

.select::-ms-expand {
  display: none;
}

.imageWrapper {
  margin-top: 50px;
  /* padding: 15px; */
  padding-right: 50px;
}
.imageWrapper:nth-child(4n) {
  padding-right: 0;
}

.dogImage {
  display: block;
  width: 300px;
  height: 225px;
  object-fit: cover;
  border-radius: 15px;
  border: 2px solid black;

}
