.swiper {
  width: 600px;
  height: 300px;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
}

.swiper-slide {
  width: 590px;
  height: 590px;
  background-color: yellow;
  border: 5px solid blue;
}